[submodule "themes/jacman"]
	path = themes/jacman
	url = https://github.com/wuchong/jacman.git
[submodule "themes/hexo-theme-next"]
	path = themes/hexo-theme-next
	url = git@github.com:liuyanjie/hexo-theme-next.git
